<%- include('parts/header', {title: "Not Found"}) %>
<div class="container d-flex flex-column mt-5 justify-content-center align-items-center">
  <h1 class="fw-bold">404</h1>
  <div class="alert alert-danger" role="alert">
    Page Not Found <a href="/" class="alert-link">Back to home</a>.
  </div>
</div>

<%- include('parts/footer') %>
